In [3]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.0-cp313-cp313-win_amd64.whl.metadata (14 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\kadamr\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.5)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.15.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.1-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.0-cp313-cp313-win_amd64.whl (10.7 MB)
   ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
   ---------------------------------------  10.5/10.7 MB 74.9 MB/s eta 0:00:01
   ---------------------------------------- 10.7/10.7 MB 27.6 MB/s eta 0:00:00
Downloading joblib-1.5.1-py3-none-any.whl (307 kB)
Downloading scipy-1.15.3-cp313-cp313-win_amd64.whl (41.0 MB)
   ---------------------------------------- 0.0/41.0 MB ? eta -:--:--
   -------------------- ------------------- 21.5/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 104.4 MB/s eta 0:00:01
   ---------------------------------------- 41.0/41.0 MB 22.3 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.1 scikit-learn-1.7.0 scipy-1.15.3 threadpoolctl-3.6.0

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [5]:
df = pd.DataFrame({
    'color':['red','blue','yellow,','green','beige','aqua blue','red','blue','yellow,','green','beige','aqua blue']
})

df

        color
0         red
1        blue
2     yellow,
3       green
4       beige
5   aqua blue
6         red
7        blue
8     yellow,
9       green
10      beige
11  aqua blue

In [6]:
### Create an instance for OHE

encoder = OneHotEncoder()

In [9]:
### Perform fit and transform

encoded=encoder.fit_transform(df[['color']]).toarray()

In [12]:
df_encoded=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
df_encoded

,color_aqua blue,color_beige,color_blue,color_green,color_red,"color_yellow,"
0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,1.0,0.0
7,0.0,0.0,1.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0
9,0.0,0.0,0.0,1.0,0.0,0.0
10,0.0,1.0,0.0,0.0,0.0,0.0
11,1.0,0.0,0.0,0.0,0.0,0.0

In [13]:
pd.concat([df,df_encoded],axis=1)

,color,color_aqua blue,color_beige,color_blue,color_green,color_red,"color_yellow,"
0,red,0.0,0.0,0.0,0.0,1.0,0.0
1,blue,0.0,0.0,1.0,0.0,0.0,0.0
2,"yellow,",0.0,0.0,0.0,0.0,0.0,1.0
3,green,0.0,0.0,0.0,1.0,0.0,0.0
4,beige,0.0,1.0,0.0,0.0,0.0,0.0
5,aqua blue,1.0,0.0,0.0,0.0,0.0,0.0
6,red,0.0,0.0,0.0,0.0,1.0,0.0
7,blue,0.0,0.0,1.0,0.0,0.0,0.0
8,"yellow,",0.0,0.0,0.0,0.0,0.0,1.0
9,green,0.0,0.0,0.0,1.0,0.0,0.0
10,beige,0.0,1.0,0.0,0.0,0.0,0.0
11,aqua blue,1.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from sklearn.preprocessing import LabelEncoder
lable_encoder = LabelEncoder()

In [18]:
lable_encoder.fit_transform(df['color'])

array([4, 2, 5, 3, 1, 0, 4, 2, 5, 3, 1, 0])